@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    color:#E5E7EB
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#E5E7EB
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    height: 110px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
}

nav {
    padding-right: 16px;;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

#home {
    background-color: #1F2937;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 110px);
}

#home img {
    width:400px;
    border-radius: 16px;
    object-fit: cover;
}

#home button {
    color: #3882F6;

}