@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
   box-sizing: border-box; 
}

body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    color:#E5E7EB
}

header , footer {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;            /*footer  will be changed to center later */
    align-items: center;
    padding: 0px 16px;
    height: 110px;

    /* because no hamburger/media queries option implemented */
    overflow: hidden;
}

.logo {
    max-width: 300px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
}

nav {
    padding-right: 16px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#E5E7EB
}

h1 {
    font-size: 3rem;
    font-weight: bolder;
    margin: 0px;
}


#home {
    background-color: #1F2937;
    margin:0;                               /*article adds its own margin */

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: calc(100vh - 110px);       /*full viewport height */
    padding: 96px;                         /* not applied - but good for    hero padding */
}

.home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
    gap:48px;
}

#home img {
    min-width:640px;
    border-radius: 16px;
    object-fit: cover;
}

#home h1 , #home p {
    margin-bottom: 24px;
}

#home button {
    color: #E5E7EB;
    font-weight: bold;
    font-size: 1.2rem;

    background-color: #3882F6;

    border-radius: 8px;
    border-style: none;

    padding: 8px 24px; 
}

#home .left-side {
    max-width: 700px;
}

#why-odin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 32px;
    gap: 16px;
}

#why-odin h2 { 
    font-size: 2rem;
    font-weight: bolder;
    color: #1F2937;
}

.fig-item-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

figure {
    display: flex;
    flex-direction: column; 
    text-align: center;
    color:#1F2937;
    max-width: 300px
}

figure img {
    max-width: 300px;
    min-height: 300px;
    object-fit: cover;

    border-radius: 24px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(39, 185, 71);

    margin-bottom: 8px;
}

#quote {
    background-color: #E5E7EB;

    color:#1F2937;
    font-style: italic;
    font-weight: lighter;
    font-size: 2rem;
    
    padding: 48px;
}

blockquote {
    max-width: 60%;
    margin: 0 auto;
}

 .author {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    color: #1F2937;
    font-weight: bold;
    font-style: normal;

    margin: 0 0 0 auto;
    background-color: #E5E7EB;   
}

#quote footer::before {
    content: "- ";
}

#join-now {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    min-height: 40vh;
}

.join-now-container {
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 48px;

    background-color: hsl(205,100%,40%);
    padding: 32px;
    border-radius: 16px;
}

.join-now-container button {
    color: #E5E7EB;
    font-weight: bolder;
    font-size: 1.1em;

    background-color: hsl(205,100%,40%) ;
    border-radius: 8px;
    border-color: #E5E7EB;
    border-style: solid;
    
    padding: 8px 24px;
}

footer {
    justify-content: center;
}